extends layout

block content
  h2 Content
  p #{message}
  ul
    li
      a(href='/routing-example/') Routing example
    li
      a(href='/middleware-example') Middleware example
    li
      a(href='/error-handling') Error-handling
    li
      a(href='/cookie/set-cookie') /cookie/set-cookie
    li
      a(href='/cookie/get-cookie') /cookie/get-cookie
    