extends layout

block content    
    ul
        li req.params: 
            a(href='./users/123/books/b56') /users/123/books/b56
        li req.params: 
            a(href='./flights/odessa-kiev') /routing-example/flights/odessa-kiev
        li req.params: 
            a(href='./plantae/fish.karas') ./plantae/fish.karas
        li req.params: 
            a(href='./example/b') /example/b
        li req.params: 
            a(href='./example/c') /example/c