extends layout

block content
  h1 HomePagePug
  form(action="/login", method="POST")
    table
      tr
        td Login:
        td
          input(type="text", name="username", required)
      tr
        td Password:
        td
          input(type="password", name="password", required)
      tr
        td
        td
          input(type="submit")
  div !{errorMessage}
    